.inline-layout {
    display: inline;
  }

  .block-layout {
    display: block;
  }

  .two-by-two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 200px;
  }

  .has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
  }

  .has-yellow-background {
    background-color: #FAF7A7;
    border: 1 px solid #E38C1E;
  }
